.AddAge{
    width: 100px;
    height: 25px;
    cursor: pointer;
    background: rgb(211, 192, 192);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding : 5px 10px 5px 10px;
    margin: 10px;
}

.AddAge:hover{
    border: 1px solid black;
    box-shadow: 1px 2px #b9b8b8;
}

.row{
    background-color: rgb(178, 205, 206);
    margin: 20px;
    height : 50px;
    display : flex;
    flex-direction : row; 
    justify-content : center;
}

.col{
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
    margin: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
